<!DOCTYPE html>
<html lang="es">

<head>
    <title>Recuperar contraseña</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;
        charset=iso-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>



<body style="margin: 0px; padding: 0px; width: 100%; height: 100%; background-color: white; font-family: 'Roboto', sans-serif;">
  <div style="width: 600px; height: 100%; margin: 0 auto;">
      <div style="width: 100%; height: 100px; background-color: #3E4A5D; border-top: 10px solid #4c8df3">
        <h1  style="margin: 0px 0px 0px 10px; padding-top: 40px; font-size: 1.5em; color:white; font-weight:lighter">BIENVENIDO {{nombre}} </h1>
        <h1  style="margin: 0px 0px 0px 10px; font-size: 1.0em; color:white; font-weight:lighter">Facultad de Ciencias Económicas | UNLP </h1>
      </div>
      <div style="width:100%; padding-top:20px;">

        <div style=" border-bottom:1px solid #E5E4E4;">
          <div style="font-size:1.3em; margin-left:10px;"> <b>{{nombre}} </b>, tu cuenta se ha registrado con éxito</div>
        </div>  
        <br>

        <div style=" padding: 20px;">
          <div style=" margin-bottom: 5px;text-decoration: underline;"><b>Datos de Acceso</b></div>
          <div>Usuario: <b>{{usuario}}</b></div>
          <div>Contraseña: <b>{{clave}}</b></div>

        </div>

        <div style=" border-bottom:1px solid #E5E4E4;">
          <div style="font-size:14px; margin:10px 0 10px 10px;"> Por favor, NO responda a este mensaje, es un envío automático.  </div>
        </div>

        <br>

        <div style="padding: 0 10px 10px 10px; font-size:12px;">
          <p align=justify> La facultad de Ciencias Económicas te ofrece en el marco de una exelencia educativa la adquisición
              de un conjunto de saberes que te permitirá, en el futuro, iniciarte en el ejercicio de una profesión.
              Además, avanzarás en los conocimientos propios de un saber académico, de forma tal que puedas
              -si así lo eligieras - emprender la investigación, especialización y profundización de los mismos. La universidad
              posibilitará que incorpores en tu persona en forma sistemática y rigurosa, situaciones de aprendizaje ético y de
              formación ciudadana.</p>
          <p align=justify> Bienvenido nuevamente.</p>
          <p align=justify> Mg. Eduardo De Giusti - Decano de la Facultad de Ciencias Económicas UNLP</p>
        </div>

        <br>

        <div style="margin-bottom: 20px; text-align:center">
          <img src="https://login.econo.unlp.edu.ar/assets/img/logo_fce.png" width="250">
        </div>

      </div>
      <div style="width: 100%; background-color: #3E4A5D; font-size: 10px; color: white; text-decoration:none; padding: 1px; ">
        <p style="margin:5px 5px 5px 15px;">
         DiTeSI | Dirección de Tecnologías y Sistemas Informáticos <br>Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777 - 1er Subsuelo | La Plata | Bs. As. <br> Tel: +54 (221) 423-6769/71/72 int. 123 | ditesi@econo.unlp.edu.ar
        </p>
      </div>
  </div>
</body>

</html>